@font-face {
  font-family: "Miracle";
  src: url("/public/fonts//Miracle.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("/public/fonts//Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --white-color: #fffcf6;
  --secondary-color: #fcd043;
  --background-color: #313f38;
  --border-color: #dadada;
  --text-color: #1b3b36;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-snap-type: y proximity;
  /* scroll-snap-type: none; */
  /* scroll-behavior: smooth; */
}
body {
  background-color: var(--background-color);
  padding: 2.5rem 1.875rem;
  padding-bottom: 0;
  scroll-behavior: smooth;
  font-family: "Helvetica";
}

li {
  list-style: none;
}
