@font-face {
  font-family: "Miracle";
  src: url("/public/fonts//Miracle.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("/public/fonts//Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --white-color: #fffcf6;
  --secondary-color: #fcd043;
  --background-color: #313f38;
  --border-color: #dadada;
  --text-color: #1b3b36;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  scroll-padding: 10px;
  width: 100%;
  overflow-x: hidden;
}
body {
  background-color: var(--background-color);
  padding: 2.5rem 1.875rem;
  padding-bottom: 0;
  scroll-behavior: smooth;
  font-family: "Helvetica";
  overflow-x: hidden;
  /* width: 100vw - 10px; */
}

li {
  list-style: none;
}

@media (max-width: 1600px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 15.5px;
  }
}
@media (max-width: 1375px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
