@import "tailwindcss";
@layer {
  * {
    @apply box-border;
  }
  html {
    @apply h-full w-full;
  }
  body {
    @apply bg-glass font-poppins w-full font-normal;
  }
  #root {
    @apply h-full w-full overflow-x-hidden;
  }
  .nav-element {
    @apply hover:text-primary cursor-pointer transition-colors duration-300;
  }
  .containers {
    @apply px-[5vw];
  }
}
@theme {
  --color-primary: #ff702b;
  --color-secondary: #2f2105;
  --color-placeholder: #929292;
  --color-accents: #f9d9aa;
  --color-glass: #ffffff;
  --color-light: #7e7d7a;
  --color-hero: #f6ebda;
  --color-background: #f6ebda;
  --color-products: #f9d9aa;
  --color-btntext: #f4ae26;
  --color-review: #ffcb7c;
  --color-reviewBorder: #ffd390;
  --font-poppins: "Poppins", serif;
}
