:root {
  --white: #fffcf6;
  --font-14: 0.875rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-22: 1.375rem;
  --font-26: 1.625rem;
  --font-220: 13.75rem;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo {
  font-size: var(--font-18);
  font-size: var(--font-20);
  color: white;
}

.nav {
  display: flex;
  align-items: center;
  gap: 4.375rem;
  color: var(--white);
}
.nav li {
  font-size: var(--font-14);
  opacity: 0.9;
}
.phone-number {
  color: var(--white);
  font-size: 1rem;
}

.menu-icon {
  position: fixed;
  right: 0;
  /* top: 0; */
  width: 40px;
  height: 10px;
  /* background-color: red; */
  display: none;
}
.menu-icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  /* border: 1px solid gray; */
  background-color: var(--white);
}
.menu-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  opacity: 0.5;
  left: 0;
  bottom: 0;
  /* border: 1px solid gray; */
  background-color: var(--white);
}

/* END HEADER  */

/*  --------------- RESPONSIVE DESIGN -----------------  */
@media (min-width: 1441px) {
  .nav {
    display: flex;
    align-items: center;
    /* gap: 3rem; */
  }
}

@media (max-width: 1440px) {
  .nav {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .header-container {
    position: fixed;
  }
  .nav {
    display: none;
  }
  .phone-number {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
