:root {
  --white: #fffcf6;
  --font-14: 0.875rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-22: 1.375rem;
  --font-26: 1.625rem;
  --font-80: 5rem;
  --font-150: 9.375rem;
  --font-220: 13.75rem;
}
.footer-container {
  height: 28.125rem;
  background-color: var(--white-color);
  padding: 0 1.875rem;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
  left: calc(-1 * 1.875rem);
  gap: 10rem;
}
.footer-container .about,
.footer-container .news {
  display: flex;
  flex-direction: column;
  height: 21.8125rem;
  padding-top: 6.25rem;
  /* width: 35%; */
}
.footer-container .socials {
  padding-top: 6.25rem;
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
}

.footer-container .about h4,
.footer-container .news h4,
.footer-container .socials h4 {
  /* text-align: center; */
  width: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  font-size: var(--font-26);
  color: var(--text-color);
}
.footer-container .about span,
.footer-container .news span,
.footer-container .socials span {
  color: var(--secondary-color);
  font-size: var(--font-26);
}
.footer-container .about p {
  width: 17.8125rem;
  opacity: 0.8;
  color: var(--text-color);
  margin-bottom: 4.375rem;
}
.footer-container .about .rights {
  font: var(--font-14);
  color: var(--text-color);
  opacity: 0.32;
  /* display: none; */
}
.footer-container .about .rights a {
  text-decoration: underline;
  color: var(--text-color);
}

/* News Section  */
.footer-container .news p:first-of-type {
  width: fit-content;
  color: var(--text-color);
  opacity: 0.8;
  width: 17.8125rem;
  margin-bottom: 1.875rem;
}
.footer-container .news .email {
  width: 17.8125rem;
  height: 4rem;
  border: 1px solid rgba(49, 63, 56, 0.64);
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  gap: 10.375rem;
}

.footer-container .news .email p {
  margin: 0;
}
.footer-container .news .email img {
  width: 1.9rem;
  height: 1rem;
}

.footer-container .socials ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1rem;
  gap: 1.5rem;
  color: var(--text-color);
}

@media (max-width: 1120px) {
  .footer-container {
    gap: 0;
    justify-content: space-between;
  }
}
@media (max-width: 875px) {
  .footer-container {
    justify-content: space-between;
  }
  .footer-container .about .rights {
    font-size: 1rem;
    text-align: center;
  }
  .footer-container .about,
  .footer-container .news {
    width: 30%;
  }
  .footer-container .news .email {
    width: 100%;
    gap: 0;
  }

  .footer-container .about h4,
  .footer-container .news h4,
  .footer-container .socials h4 {
    font-size: var(--font-22);
  }
  .footer-container .about span,
  .footer-container .news span,
  .footer-container .socials span {
    font-size: 1rem;
  }

  .footer-container .about p,
  .footer-container .news p:first-of-type {
    width: 100%;
  }
  .footer-container .socials {
    width: 15%;
  }
  .footer-container .socials ul {
    /* gap: 0; */
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-container .socials ul li {
    opacity: 0.8;
    font-size: 1.1rem;
  }
}
@media (max-width: 475px) {
  .footer-container {
    height: auto;
  }
  .footer-container .about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
  .footer-container .about .rights {
    padding-top: 0;
    font-size: 1.2rem;
  }
  .footer-container .about .rights a {
    text-decoration: underline;
    font-size: 1.2rem;
    color: var(--text-color);
  }
  .footer-container .about h4,
  .footer-container .about > p {
    display: none;
  }
  .footer-container .news,
  .footer-container .socials {
    display: none;
  }
}
