:root {
  --white: #fffcf6;
  --font-14: 0.875rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-22: 1.375rem;
  --font-26: 1.625rem;
  --font-120: 7.5rem;
  --font-150: 9.375rem;
  --font-170: 10.625rem;
  --font-220: 13.75rem;
}
/* HERO SECTIOTN  */

.hero-container {
  margin-top: 5.125rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 77.56rem;
  position: relative;
}
.background-container {
  position: absolute;
  padding-top: 8rem;
  /* top: 4rem; */
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/hero-pic.png");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  z-index: -1;
}
.hero-intro {
  display: flex;
  width: 100%;
  height: 20rem;
  padding-bottom: 5rem;
  box-sizing: content-box;
  background-color: var(--background-color);
  justify-content: space-between;
}
.text {
  display: flex;
  flex-direction: column;
  font-family: "Miracle";
}
.text .s1 {
  font-size: var(--font-220);
  color: var(--white-color);
}

.text .s2 {
  font-size: var(--font-220);
  color: var(--secondary-color);
}
.text p {
  font-family: "Helvetica";
}
.hero-p {
  color: var(--secondary-color);
  /* width: 701px; */
  font-size: var(--font-26);
}
.info {
  display: flex;
  flex-direction: column;
  padding-top: 4.5rem;
}
.since {
  border-radius: 99px;
  width: 15.5625rem;
  padding: 1rem 1.875rem;
  padding-right: 0;
  display: flex;
  align-items: center;
  gap: 1.4375rem;
  border: 1px solid white;
}
.since span {
  color: var(--white-color);
  font-size: var(--font-22);
}
.info p {
  font-size: var(--font-18);
  color: var(--white-color);
  line-height: 28px;
  opacity: 0.9;
  width: 21.875rem;
  margin-top: auto;
}
.btn {
  padding-top: 4.5rem;
}

.btn img {
  width: 100%;
}
/* HERO ACTION */
.hero-action {
  display: flex;
  width: 100%;
  padding-left: 44rem;
  justify-content: flex-end;
  font-family: "Helvetica";
  scroll-snap-align: start;
}
.check-in-out {
  width: 43.064375rem /* 703px */;
  height: 7.8125rem;
  opacity: 90%;
  backdrop-filter: blur(40px);
  position: relative;
  display: flex;
  justify-content: space-between;
}
.check-in-out::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 48%;
  background-color: var(--background-color);
}
.check-in,
.check-out {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 45%;
}
.check-in span,
.check-out span {
  z-index: 999;
  color: var(--white-color);
}
.check-in img,
.check-out img {
  z-index: 999;
}
.separator {
  height: 60%;
  width: 1px;
  opacity: 24%;
  background-color: var(--white-color);
  /* border: 1px solid var(--white-color); */
  align-self: center;
}
.book-room {
  height: 7.8125rem;
  width: 23.125rem;
  background-color: var(--secondary-color);
  font-size: var(--font-18);
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  height: 8.125rem;
  background-color: var(--background-color);
}
.more-info .phone-stuff {
  display: flex;
  flex-direction: column;
  width: 26.1875rem;
  gap: var(--font-14);
}
.phone-stuff span {
  text-decoration: underline;
  color: var(--secondary-color);
  font-size: var(--font-26);
}
.phone-stuff p {
  text-decoration: underline;
  color: var(--white-color);
  font-size: var(--font-26);
  width: 100%;
}
.more-info .art-hall {
  font-size: var(--font-26);
  color: var(--white-color);
  width: 15.6875rem;
  text-align: right;
}

/* ------------- RESPONSIVENESS ------------- */
@media (min-width: 1201px) and (max-width: 1500px) {
  .hero-intro .text h1 > * {
    font-size: var(--font-170);
  }
  .hero-intro .text .hero-p {
    font-size: var(--font-18);
  }
  .hero-intro .since {
    gap: 1.4375rem;
  }
  .hero-intro .info p {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .hero-container {
    height: fit-content;
  }
  .background-container {
    background-size: contain;
  }
  .hero-intro {
    height: fit-content;
    padding-bottom: 2.5rem;
  }
  .hero-intro .text h1 > * {
    font-size: var(--font-120);
  }
  .hero-intro .text .hero-p {
    font-size: var(--font-14);
  }
  .hero-intro .info {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 3;
    padding: 0;
    padding-top: 1rem;

    height: fit-content;
  }
  .hero-intro .info .since {
    display: none;
  }
  .hero-intro .info p {
    font-size: 1rem;
    margin: 0;
  }
  .hero-intro .btn {
    order: 2;
    height: fit-content;
    padding: 0;
    padding-top: 1rem;
  }
  .hero-action {
    margin-top: auto;
    margin-top: 34.375rem;
    margin-top: 24.1875rem;
  }
  .more-info {
    margin-top: 0;
  }
  .more-info .phone-stuff > * {
    font-size: var(--font-18);
  }
  .more-info .art-hall {
    font-size: 1rem;
    width: 10.9375rem;
  }
}
