:root {
  --white: #fffcf6;
  --font-14: 0.875rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-22: 1.375rem;
  --font-26: 1.625rem;
  --font-80: 5rem;
  --font-150: 9.375rem;
  --font-220: 13.75rem;
}

.gallery-container {
  height: 116.25375rem;
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  /* border-top: 1px solid green; */
  height: auto;
  width: 100vw;
  position: relative;
  left: calc(-1 * 1.875rem);
}
.gal-left-section,
.gal-middle-section,
.gal-rgiht-section {
  display: flex;
  flex-direction: column;
  /* height: 120vh; */
}

/* Left Section  */

.gal-left-section {
  position: relative;
  /* gap: 56.25rem; */
  width: 25%;
  align-items: flex-start;
  justify-content: space-between;
}

.gal-left-section h3 {
  font-size: var(--font-26);
  width: 15.9375rem;
  color: var(--white-color);
  opacity: 0.8;
}
.gal-left-section .img1 {
  /* position: absolute; */
  width: fit-content;
  width: 19.5rem;
  height: 17.75rem;
  top: 18.125rem;
  left: -2.875rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.gal-left-section .img1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gal-left-section .img2 {
  width: 17.806875rem;
  overflow: hidden;
}
.gal-left-section .img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Middle Section  */
.gal-middle-section {
  align-items: center;
  padding-left: 3rem;
  overflow-x: hidden;
  width: 55%;
  /* margin-left: 11.875rem; */
}
.gal-middle-section .img1 {
  width: 9.375rem;
  height: 6.743125rem;
  overflow: hidden;
}
.gal-middle-section .img1 img {
  width: 100%;
  height: 100%;
}
.gal-middle-section h2 {
  font-size: var(--font-150);
  color: var(--secondary-color);
  font-family: "Miracle";
  width: 100%;
  margin-top: 3.125rem;
}
.gal-middle-section .content {
  width: 28.125rem;
  font-size: var(--font-18);
  color: var(--white-color);
  line-height: 1.8;
  opacity: 0.8;
  margin-top: 4.375rem;
}
.gal-middle-section .img2 {
  width: 57.25rem;
  height: 37.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9.375rem;
  padding-bottom: 29rem;
  width: 100%;
}
.gal-middle-section .img2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.gal-middle-section .closing {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  margin-top: 6.25rem;
  align-self: flex-start;
}
.gal-middle-section .closing img {
  width: auto;
  height: auto;
}
.gal-middle-section .closing p {
  width: 21.875rem;
  color: var(--white-color);
  font-size: var(--font-22);
  opacity: 0.8;
  line-height: 1.5;
}

/* Right Section  */

.gal-right-section {
  padding-top: 22.3125rem;
  /* margin-left: auto; */
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
.gal-right-section .img1 {
  /* position: absolute; */
  height: 25rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
}
.gal-right-section .img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}
.gal-right-section .img2 {
  overflow: hidden;
  width: 95%;
  height: 17.75rem;
  padding-top: 3.5rem;
}
.gal-right-section .img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------- RESPONSIVENESS -------- */

@media (max-width: 1700px) {
  .gal-left-section .img1 {
    width: 17.2142857142857rem;
  }
  .gal-left-section .img2 {
    width: 15.75rem;
  }
  .gal-middle-section h2 {
    font-size: 8.57142857142857rem;
  }
  .gal-middle-section .img2 {
    width: 50rem;
  }

  .gal-right-section .img1 {
    width: 17rem;
  }
  .gal-right-section .img2 {
    width: 23rem;
  }
}

@media (max-width: 1500px) {
  .gal-left-section .img1 {
    width: 15.2142857142857rem;
  }
  .gal-left-section .img2 {
    width: 13.75rem;
  }
  .gal-middle-section h2 {
    font-size: 6.57142857142857rem;
    text-align: center;
  }
  .gal-middle-section .img2 {
    width: 48rem;
  }
  .gal-middle-section .img2 {
    width: 48rem;
  }

  .gal-right-section .img1 {
    width: 15rem;
  }
  .gal-right-section .img2 {
    width: 21rem;
  }
}
@media (max-width: 1440px) {
  .gal-right-section .img1 {
    display: flex;
  }
  .gal-right-section .img1 img {
    object-position: left;
    position: relative;
  }
  .gal-middle-section .img2 {
    width: 95%;
  }
  .gal-right-section .img2 {
    width: 90%;
  }
}
@media (max-width: 1275px) {
  .gal-middle-section h2 {
    font-size: 4.57142857142857rem;
    text-align: center;
  }
  .gal-middle-section .img2 {
    width: 46rem;
  }

  .gal-right-section .img1 {
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  .gal-right-section .img1 {
    width: 13rem;
  }
  .gal-right-section .img2 {
    width: 19rem;
  }
}

@media (max-width: 1250px) {
  .gal-right-section .img2 {
    width: 85%;
  }
}
@media (max-width: 1175px) {
  .gal-middle-section h2 {
    font-size: 4.57142857142857rem;
    text-align: center;
  }
  .gal-middle-section .img2 {
    width: 44rem;
  }

  .gal-right-section .img1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gal-right-section .img1 {
  }
  .gal-right-section .img2 {
  }
}

@media (max-width: 1075px) {
  .gal-middle-section h2 {
    font-size: 4.57142857142857rem;
    text-align: center;
  }

  .gal-right-section .img1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .gal-left-section .img1 {
    width: 75%;
  }
  .gal-left-section .img2 {
    width: 80%;
  }
  .gal-middle-section {
    padding-left: 0;
  }
  .gal-middle-section .img2 {
    width: 98%;
    padding: 0;
    height: 35%;
    overflow: hidden;
  }
  .gal-middle-section .closing {
    margin-top: 1rem;
  }
  .gal-right-section .img1 {
    width: 80%;
    height: 35%;
  }
  .gal-right-section .img2 {
    width: 75%;
    width: 100%;
  }
}
