:root {
  --white: #fffcf6;
  --font-14: 0.875rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-22: 1.375rem;
  --font-26: 1.625rem;
  --font-80: 5rem;
  --font-150: 9.375rem;
  --font-220: 13.75rem;
  --font-300: 18.75rem;
}
.contact-container {
  position: relative;
  overflow: hidden;
  height: 114.25rem;
  background-color: var(--white-color);
  padding: 0 1.875rem;
  padding-top: 15.75rem;
  padding-bottom: 12.5rem;

  height: auto;
  width: 100vw;
  left: calc(-1 * 1.875rem);
}
.contact-container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--background-color);
  opacity: 0.24;
  bottom: 0;
}
.phone-num h2 {
  font-size: var(--font-80);
  color: var(--text-color);
  width: 41.9375rem;
  border-bottom: 1px solid var(--border-color);
}
.g-i-t {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 5.1875rem;
  /* overflow: hidden; */
}
.g-i-t .background {
  position: absolute;
  top: 8rem;
  right: 9.5rem;
  width: 27.6875rem;
  height: 27.6875rem;
  overflow: hidden;
  z-index: 1;
}

.g-i-t .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.g-i-t .wave {
  position: absolute;
  width: 100vw;
  width: 100%;
  top: -14%;
  left: -1.5rem;
  z-index: 999;
}
.g-i-t .wave img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.g-i-t h4 {
  font-size: var(--font-26);
  width: 17.75rem;
  color: var(--text-color);
  /* margin-left: 78rem; */
  margin-left: auto;
  text-align: end;
}
.g-i-t .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 99;
}
.g-i-t .title img {
  width: 9.375rem;
  height: 9.375rem;
}
.g-i-t .title span {
  font-size: var(--font-300);
  font-family: "Miracle";
}
.g-i-t .title span:first-of-type {
  color: var(--text-color);
}
.g-i-t .title span:last-of-type {
  color: var(--secondary-color);
  margin-left: auto;
}

/* Find A Room  */
.find-room {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.find-room .book-room-btn {
  display: none;
}
.find-room span {
  font-size: var(--font-26);
  color: var(--text-color);
  width: 17.75rem;
}
.find-room .action {
  width: 57.1875rem;
  height: 8.75rem;
  border: 1px solid var(--background-color);
  display: flex;
  align-items: center;
}

.find-room .action .check-in {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
  gap: 6.565625rem;
}
.find-room .action .check-in::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 3.75rem;
  background-color: var(--background-color);
  opacity: 0.24;
  right: 0;
}
.find-room .action .check-in span,
.find-room .action .check-out span {
  font-size: var(--font-18);
  width: 7.0625rem;
}
.find-room .action .check-in img,
.find-room .action .check-out img {
  cursor: pointer;
}
.find-room .action .check-out {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
  gap: 6.565625rem;
}
.find-room .action .book-room {
  flex-grow: 1;
  background-color: var(--background-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-18);
  color: var(--white-color);
}

@media (max-width: 1770px) {
  .contact-container {
    height: 100rem;
  }
  .phone-num h2 {
    font-size: 3.125rem;
  }

  .g-i-t .background {
    width: 25rem;
    height: 25rem;
  }

  .g-i-t h4 {
    font-size: var(--font-22);
  }

  .g-i-t .title img {
    width: 8rem;
    height: 8rem;
  }

  .g-i-t .title span {
    font-size: 15.625rem;
  }
}

@media (max-width: 1440px) {
  .g-i-t .title span {
    font-size: 13.625rem;
  }
}

@media (max-width: 1180px) {
  .contact-container {
    height: 97.7857142857143rem;
  }
  .g-i-t .background {
    width: 23rem;
    height: 23rem;
  }
  .g-i-t .title span {
    font-size: 11.625rem;
  }
}
@media (max-width: 950px) {
  .contact-container {
    height: auto;
  }
  .g-i-t .title span {
    font-size: 9rem;
  }
  .g-i-t .background {
    width: 20rem;
    height: 20rem;
  }
  .find-room {
    margin-top: 2rem;
  }
  .contact-container .action {
    width: 80%;
  }
  .contact-container .action .check-in,
  .contact-container .action .check-out {
    width: 33%;
    padding: 0;
    gap: 0;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 700px) {
  .g-i-t .background {
    width: 15rem;
    height: 15rem;
  }
  .g-i-t .title img {
    width: 5rem;
    height: 5rem;
  }
  .g-i-t .title span {
    font-size: 7rem;
  }
}
@media (max-width: 650px) {
  .contact-container .phone-num h2 {
    font-size: 3rem;
  }
  .g-i-t .title img {
    width: 5rem;
    height: 5rem;
  }
  .g-i-t .background {
    right: 0;
  }
  .find-room {
    margin-top: 5em;
  }
}
@media (max-width: 500px) {
  .find-room span {
    display: none;
  }
  .find-room .action {
    display: none;
  }
  .find-room .book-room-btn {
    display: block !important;
    margin-top: 4rem;
  }
}
@media (max-width: 420px) {
  .contact-container {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .g-i-t .background {
    top: 80%;
    width: 14rem;
    height: 14rem;
  }
}

@media (max-width: 405px) {
  .g-i-t .title span {
    font-size: 5.5rem;
  }
}

@media (max-width: 340px) {
  .contact-container {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .contact-container .phone-num h2 {
    font-size: 2rem;
  }
  .g-i-t .title span {
    font-size: 4.5rem;
  }
  .g-i-t .background {
    width: 12rem;
    height: 12rem;
  }
  .find-room .book-room-btn {
    /* margin-top: 6rem; */
  }
  .find-room .book-room-btn img {
    width: 100px;
  }
}
